<div class="col-3 col-6-medium col-12-small">

	<!-- Feature -->
		<section class="box feature">
			<a href="{{ page.header.feature.target }}" class="image featured"><img src="{{ page.media[page.header.feature.image].url }}" alt="{{ page.header.feature.alt|default('') }}" /></a>
			<h3><a href="{{ page.header.feature.target }}">{{ page.title }}</a></h3>
			{{ page.content|raw }}
		</section>

</div>
