<div class="col-12">

	<!-- Features -->
		<section class="box features">
			<h2 class="major"><span>{{ page.title }}</span></h2>
			<div>
				<div class="row">
					{% for feature in page.collection({'items':'@self.modules', 'filter': {'type': 'modular/feature'}}).order('header.position', 'asc') %}
						{{ feature.content|raw }}
					{% endfor %}
				</div>
				{% if page.header.cta is defined %}
					<div class="col-12">
						<ul class="actions">
						{% for button in page.header.cta %}
							<li><a href="{{ button.target }}" class="button large{% if button.classes is defined %} {{ button.classes }}{% endif %}">{{ button.text }}</a></li>
						{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
		</section>
</div>
