{% set blog = blog ?: page.find('/blog') %}
{% set comments = comments is defined ? comments : true %}
{% set news = page.collection({'items':'@self.modules', 'filter': {'type': 'modular/blog-posts'}})|first %}
{% set blog_items = blog.collection({'items': '@self.children', 'order': {'by': 'date', 'dir': 'desc'}, 'limit': news.header.options.limit|default(6)}) %}

{% if blog_items|length > 0 %}
	<div class="col-12">

		<!-- Blog -->
			<section class="box blog">
				{{ news.content|raw }}

				<div>
					<div class="row">

						<div class="col-9 col-12-medium">
							<div class="content">

								<!-- Featured Post -->
									{% set featured_post = blog_items|first %}
									<article class="box post">
										<header>
											<h3><a href="#">{{ featured_post.title }}</a></h3>
											{% if featured_post.header.subtitle is defined %}
											<p>{{ featured_post.header.subtitle|trim }}</p>
											{% endif %}
											<ul class="meta">
												<li class="icon fa-clock">{{ featured_post.header.date|nicetime }}</li>
												{% if comments %}
												<li class="icon fa-comments"><a href="#">8</a></li>
												{% endif %} {# FIXME #}
											</ul>
										</header>
										{% if featured_post.header.feature.image is defined %}
											<a href="#" class="image featured"><img src="{{ featured_post.media[featured_post.header.feature.image].url }}" alt="{{ featured_post.header.feature.alt|default('') }}" /></a>
										{% endif %}
										<p>
											{{ featured_post.content|raw }}
										</p>
										{% if blog.routable %}
											<a href="{{ blog.url }}" class="button">Continue Reading</a>
										{% endif %}
									</article>

							</div>
						</div>

						{% if blog_items|length > 1 %}

						<div class="col-3 col-12-medium">
							<div class="sidebar">

								<!-- Archives -->
									<ul class="divided">
									{% for post in blog_items|slice(1) %}
										<li>
											<article class="box post-summary">
												<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
												<ul class="meta">
													<li class="icon fa-clock">{{ post.date|nicetime }}</li>
													{% if comments %}
													<li class="icon fa-comments"><a href="#">34</a></li>
													{% endif %} {# FIXME #}
												</ul>
											</article>
										</li>
									{% endfor %}
									</ul>

									{% if blog.routable %}
										<a href="{{ blog.url }}" class="button alt">Archives</a>
									{% endif %}

							</div>
						</div>
						{% endif %}

					</div>
				</div>

			</section>
	</div>
			



{% endif %}

{# {% for feature_set in feature_sets %}
	{{ feature_set.content|raw }}
{% endfor %} #}
