<div class="row gtr-200">

	{% block about %}
		{% if config.site.metadata.about is defined %}
		<div class="col-12">
			<!-- About -->
				<section>
					<h2 class="major"><span>What's this about?</span></h2>
					{{ config.site.metadata.about|raw }}
				</section>
		</div>
		{% endif %}
	{% endblock %}

	{% block contacts %}
		{% if config.site.globals.social is defined %}
		<div class="col-12">
			<!-- Contact -->
				<section>
					<h2 class="major"><span>Get in touch</span></h2>
					<ul class="contact">
					{% for network, account in config.site.globals.social %}
						{% set social_network = theme_config.social_networks[network] %}
						{% if social_network is not empty %}
							<li><a class="icon brands fa-{{ social_network.icon|default(network|lower) }}" href="{{ evaluate_twig(social_network.permalinks, {u: account}) }}"><span class="label">{{ social_network.label|default(network|capitalize) }}</span></a></li>
						{% else %}
							{{ dump("Warning: social network \"#{network}\" from site.yaml is not defined in theme.yaml, unable to show icon in footer.") }}
						{% endif %}
					{% endfor %}
					</ul>
				</section>
		</div>
		{% endif %}
	{% endblock %}

</div>

{% block rights %}
	{% include 'partials/rights.html.twig' %}
{% endblock %}