{% set highlights = page.header.highlights %}
{% if page.header.highlights.enabled|default(false) %}
	<div class="col-12">
		<!-- Highlight -->
			<section class="box highlight">
				{% if highlights.circles is defined %}
				<ul class="special">
					{% for circle in highlights.circles if (circle.active or circle.active is not defined) %}
					<li><a href="{{ circle.target }}" class="icon solid fa-{{ circle.icon }}"><span class="label">{{ circle.label }}</span></a></li>
					{% endfor %}
				</ul>
				{% endif %}
				{% if highlights.heading is defined %}
				<header>
					<h2>{{ highlights.heading }}</h2>
					{% if highlights.subheading is defined %}
						<p>{{ highlights.subheading }}</p>
					{% endif %}
				</header>
				{% endif %}
				{% if highlights.blurb is defined and highlights.blurb|trim is not empty %}
					{{ highlights.blurb|markdown }}
				{% endif %}
			</section>
	</div>
{% endif %}