<!-- Sidebar -->

	<!-- Recent Posts -->
		<section>
			<h2 class="major"><span>Recent Posts</span></h2>
			<ul class="divided">
			{% set blog = page.find('/blog') %}
			{% for post in blog.collection({'items': '@self.children', 'order': {'by': 'date', 'dir': 'desc'}, 'limit': 3}) %}
				<li>
					<article class="box post-summary">
						<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
						<ul class="meta">
							<li class="icon fa-clock">{{ post.date|nicetime }}</li>
							<li class="icon fa-comments"><a href="#">34</a></li> {# FIXME #}
						</ul>
					</article>
				</li>
			{% endfor %}
			</ul>
			{% if blog.routable %}
				<a href="{{ blog.url }}" class="button alt">Archives</a>
			{% endif %}
		</section>

{# TODO: make this more generic to include blog as above and any page modulars or children, like:
	include partials/sidebar/item.type with item.options 
.. then move code like above and below to the partial.
#}
{% for item in page.header.sidebar %} 
	{% set section = page.find("/shared/_sidebars/_#{item.slug}") %}
				<!-- Something -->
	{{ section.content|raw }}
{% endfor %}

