{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="col-12">
		<div class="content">

			<!-- Content -->

				<article class="box page-content">
					<header>
						<h2>{{ page.title }}</h2>
						<p>{{ page.header.subtitle }}</p>
						<ul class="meta">
							<li class="icon fa-clock">{{ page.date|nicetime }}</li>
							<li class="icon fa-comments"><a href="#">1,024</a></li>{# FIXME #}
						</ul>
					</header>

					<section>
						<span class="image featured"><img src="images/pic05.jpg" alt="" /></span>{# FIXME #}
						{{ page.content|raw }}
					</section>

					{% set sections = page.collection({'items':'@self.modules', 'filter': {'type': 'modular/section'}}).order('header.position', 'asc') %}
					{% for section in sections %}
						{{ section.content|raw }}
					{% endfor %}

				</article>
		</div>
	</div>
{% endblock %}
